@import "tailwindcss";

/* @plugin "daisyui"; */

@plugin "daisyui" {
  /* themes: light --default, dark --prefersdark, cupcake, retro; */
  /* exclude: rootscrollgutter; */
  themes: all;
}

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

p, i, b {
  text-align: justify; /* Justifica el texto */
  font-size: 25px; /* Tamaño de la fuente */
}

footer p {
  margin: 0; /* Elimina el margen del párrafo dentro del pie de página */
  bottom: 5; /* Alinea el pie de página en la parte inferior */
  font-size: 16px; /* Tamaño de la fuente del párrafo */
  margin: 0 auto; /* Centra el contenido horizontalmente */
  text-align: center; /* Centra el texto del párrafo */
}

/* Estilos para la imagen de compra */
.imgcomprar {
  width: 300px; /* Ancho de la imagen */
  height: 300px; /* Altura de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.divsection1 {
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.divsection1:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
